[submodule "blockchain/ConsenSys/quorum-kubernetes"]
	path = blockchain/ConsenSys/quorum-kubernetes
	url = https://github.com/ConsenSys/quorum-kubernetes.git
[submodule "prometheus-community/helm-charts"]
	path = prometheus-community/helm-charts
	url = https://github.com/prometheus-community/helm-charts.git
